// Custom styles.
/*******************首页样式*****************************/

.header{
    background-color: rgba(234, 234, 234,0.5);
}

// 网站标题
.site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 48px;
    font-weight: normal;
    font-family: 'Lobster Two', 'Roboto Slab', "PingFang SC", "Microsoft YaHei", sans-serif;
}

// 标题背景
.brand{
    background: transparent; //透明
}

 // 菜单栏
.menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
    background: rgba(255,255,255,0.65); //菜单栏背景色
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em; // 圆角化
}

.menu .menu-item a {
    padding: 0 2em;
    border: none;
    border-radius: 0.1em;
    transition-property: background;
    display: block;
    font-size: 1em;
    text-transform: capitalize;
    line-height: inherit;
    border-bottom: 1px solid transparent;
    transition-property: border-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

